
    *{
        margin: 0;
        padding: 0;
        background-color: #1F4959;

    }
    .topic {
        text-transform: uppercase;
        color: rgba(1, 1, 1, 0, 8);
        font-family: "Courier New", Courier, monospace;
        font-weight: 500;
      
      }
      .section-header h2 {
      
        font-size: 40px;
        color: blueviolet;
        margin: 0;
        text-align: center;
        font-family: 'Libre Baskerville', serif;
      }
      .section-header p {
        font-size: 20px;
     margin-left: 22px;
     font-family: 'Libre Baskerville', serif;
      }
      .title-area {
        font-size: 25px;
        font-family: "Courier New", Courier, monospace;
        text-transform: uppercase;
        color: blueviolet;
        margin-left: 30px;
      }
.box{
    margin-left: 40px;
    margin-right: 60px;
}
      nav .left{
        margin: 18px;
        }
      
       
     
     nav {
         display: flex;
         justify-content: space-around;
         text-align: center;
         height: 80px;
         /* background-color: rgb(8, 8, 46); */
         background-color: #011425;
         color: white;
       }
     nav ul {
         display: flex;
         justify-content: center;
       }
     nav ul li {
         list-style: none;
         margin: 26px 20px;
       }
       nav ul li a {
         text-decoration: none;
         color: white;
       }
       nav ul li a:hover {
         color: rgb(153, 153, 226);
         font-size: 1.04rem;
       }
       .left {
         font-size: 1.5rem;
         margin: 20px 0;
       }

      body {
        background-color: rgb(0, 0, 33);
      color: white;
    }
    nav ul li a:hover {
      color: rgb(153, 153, 226);
      font-size: 1.04rem;
    }
    nav ul li a:visited {
      color: rgb(121, 121, 239);
      font-size: 1.04rem;
    }
    .nav-link{
      color: #4540a8;
    }